<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <array name="globalVariables" type="record" depth="1">      
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">JALIN_OUT_KEYSTORE</value>
        <value name="value">JALIN_KEYSTORE</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">JALIN_OUT_KEYSTORE_ALIAS</value>
        <value name="value">api.privateopen.dev.bri.co.id</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">JALIN_OUT_HIMBARA_KEY</value>
        <value name="value">12345678910</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">JALIN_OUT_SECRET_KEY</value>
        <value name="value">abcdefghijklmno</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">JALIN_SECRET_KEY_Jalin</value>
        <value name="value">gvhandle.JALIN_SECRET_KEY_Jalin</value>
        <value name="isSecure">true</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">JALIN_SECRET_KEY_jalin01</value>
        <value name="value">gvhandle.JALIN_SECRET_KEY_jalin01</value>
        <value name="isSecure">true</value>
      </record>
    </array>
  </record>
</IDataXMLCoder>
